# --- APP CONFIG ---
PORT=3000

# --- DATABASE (POSTGRES) ---
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=erp_db
# --- TYPEORM ---
TYPEORM_SYNC=true

# --- REDIS ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- PGADMIN (GUI) ---
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@erp.com
PGADMIN_PASSWORD=admin123

# --- JWT ---
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=900s
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION=7d

# --- CORS ---
CORS_ORIGIN='http://localhost:4000,'

# --- BCRYPT ---
BCRYPT_SALT_OR_ROUNDS=10

# --- EMAIL (SMTP GMAIL) ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
MAIL_SENDER=no-reply@erp.com